<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.xyz.orders.Orders">
            <id property="id" column="ID" />
            <result property="userId" column="USER_ID" />
            <result property="status" column="STATUS" />
            <result property="installAddress" column="INSTALL_ADDRESS" />
            <result property="deleted" column="DELETED" />
            <result property="deletedAt" column="DELETED_AT" />
            <result property="version" column="VERSION" />
            <result property="createdAt" column="CREATED_AT" />
            <result property="updatedAt" column="UPDATED_AT" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,USER_ID,STATUS,INSTALL_ADDRESS,DELETED,DELETED_AT,
        VERSION,CREATED_AT,UPDATED_AT
    </sql>
</mapper>
