<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.xyz.orders.OrderItem">
            <id property="id" column="ID" />
            <result property="orderId" column="ORDER_ID" />
            <result property="planCode" column="PLAN_CODE" />
            <result property="qty" column="QTY" />
            <result property="price" column="PRICE" />
            <result property="createdAt" column="CREATED_AT" />
            <result property="updatedAt" column="UPDATED_AT" />
            <result property="status" column="STATUS" />
            <result property="username" column="USERNAME" />
            <result property="planType" column="PLAN_TYPE" />
            <result property="period" column="PERIOD" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,ORDER_ID,PLAN_CODE,QTY,PRICE,CREATED_AT,
        UPDATED_AT,STATUS,USERNAME,PLAN_TYPE,PERIOD
    </sql>
</mapper>
