<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.mapper.TicketEventImageUrlMapper">

    <resultMap id="BaseResultMap" type="com.xyz.ticket.TicketEventImageUrl">
            <id property="id" column="ID" />
            <result property="ticketEventId" column="TICKET_EVENT_ID" />
            <result property="imageUrl" column="IMAGE_URL" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,TICKET_EVENT_ID,IMAGE_URL
    </sql>
</mapper>
