<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.mapper.TicketEventMapper">

    <resultMap id="BaseResultMap" type="com.xyz.ticket.TicketEvent">
            <id property="id" column="ID" />
            <result property="ticketId" column="TICKET_ID" />
            <result property="eventCode" column="EVENT_CODE" />
            <result property="note" column="NOTE" />
            <result property="happenedAt" column="HAPPENED_AT" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,TICKET_ID,EVENT_CODE,NOTE,HAPPENED_AT
    </sql>
    <select id="selectAllByTicketId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TICKET_EVENT
        where
        TICKET_ID = #{ticketId,jdbcType=NUMERIC}
        order by HAPPENED_AT desc
    </select>
</mapper>
