<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.mapper.WorkflowInstanceMapper">

    <resultMap id="BaseResultMap" type="com.xyz.workflow.WorkflowInstance">
            <id property="id" column="ID" />
            <result property="bizType" column="BIZ_TYPE" />
            <result property="bizId" column="BIZ_ID" />
            <result property="state" column="STATE" />
            <result property="createdAt" column="CREATED_AT" />
            <result property="updatedAt" column="UPDATED_AT" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,BIZ_TYPE,BIZ_ID,STATE,CREATED_AT,UPDATED_AT
    </sql>
</mapper>
